* {
  box-sizing: border-box;
}
body {
  width: 100%;
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
}

.contener {
  background-color: hsl(0, 0%, 100%);
  display: inline-block;
  border-radius: 20px;
  width: 330px;
  position: static;
  margin-top: 100px;
  margin-bottom: 100px;
}

.qr-photo {
  padding: 15px 15px 0 15px;
  border-radius: 30px;
  width: 330px;
}

h1 {
  padding: 20px 20px 0 20px;
  width: 330px;
  text-align: center;
  font-size: 15px;
  display: block;
}
.text {
  color: hsl(220, 15%, 55%);
  width: 330px;
  font-size: 15px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  display: block;
}
